html
    head
        title= 'Admin'
        style
            include ./style.css
    body
        div.random
            h2= 'Add new project entry'
            form(action="/admin" method="post")
                input(type="text" placeholder="Project Name" name="projectName" maxlength="45")
                br
                input(type="text" placeholder="Short Description" name="shortDescription" maxlength="200")
                br
                input(type="text" placeholder="GitHub link" name="gitLink" maxlength="50")
                br
                input(type="text" placeholder="Image path" name="imgPath" maxlength="30")
                br
                input(type="text" placeholder="Long Description" name="longDescription" maxlength="1000")
                br
                button= 'Save'
            if success
                p= success
        div.random
            h2= 'Edit projects'
            ul
                each record in records ? records : ['No records found']
                    li
                        p= "id: " + record.id
                        p= "Project name: " + record.Name
                        p= "Summary: " + record.Description
                        a(href=record.RepoPath)= "GitHub Link: " + record.RepoPath
                        p= "Image Path: " + record.ImgPath
                        p= "Description: " + record.Synopsis
                        button= 'Edit'
                        button= 'Delete'
