- var info_text = ""
html
    head
        title= 'Big website'
        style
            include ./style.css
    body
        div#info
            div#project
                p= info_text
        div.heading
            h1= 'David Tomusk'
        div.sub
            h2= 'Projects'
        div.content_section
            ul
                each record in records ? records : ['No records found']
                    li
                        div.content(onclick="set_info('"+record.Synopsis+"')")
                            img.img(src='/dorime.jpg')
                            h3= record.Name
                            p= record.Description
        div.footer
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script.
            function set_info(text) {
                document.getElementById('project').childNodes[0].innerHTML = text;
            }
            $(document).ready(function(){
                $(".content").click(function() {
                    if ($("#info").is(":hidden")) {
                        $("#info").addClass('show');
                    }
                });
                $("#info").click(function(event) {
                    if ($("#info").is(":visible")) {
                        if (!$("#project").is(event.target) && $("#project").has(event.target).length === 0) {
                            $("#info").removeClass('show');
                        }
                    }
                })
            });
