html
    head
        title= 'Big website'
        style
            include ./style.css
    body
        div#info(onclick='closeinfo()')
            div#closebtn
            div#project
                p= "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Turpis egestas pretium aenean pharetra magna ac placerat vestibulum. Sagittis vitae et leo duis ut diam. Vestibulum morbi blandit cursus risus at. Et pharetra pharetra massa massa ultricies mi. Turpis egestas integer eget aliquet nibh praesent tristique magna. Fusce id velit ut tortor pretium viverra suspendisse potenti. Nulla facilisi morbi tempus iaculis urna. Amet mattis vulputate enim nulla. Cursus eget nunc scelerisque viverra mauris in aliquam sem."
                br
        div.heading
            h1= 'David Tomusk'
        div.sub
            h2= 'Projects'
        div.content_section
            ul
                each record in records
                    li
                        div.content(onclick='popup()')
                            img.img(src='/dorime.jpg')
                            h3= record.Name
                            p= record.Description
        div.footer
        script.
            function closeinfo() {
                document.getElementById('info').style.display = 'none';
            }
            function popup() {
                document.getElementById('info').style.display = 'flex';
            }
