html
    head
        title= 'Big website'
        style
            include ./style.css
    body
        div.heading
            h1= 'David Tomusk'
        div
            a(href='/projects') Projects
        div.content_section
            ul
                li
                    div.entry
                        p= 'Hey'
                li
                    div.entry
                        p= "What's up?"
                li
                    div.entry
                        p= 'Hello'
                li
                    div.entry
                        p= 'Seen'
                li
                    div.entry
                        p= "your"
                li
                    div.entry
                        p= 'pretty'
