html
    head
        title= 'Big website'
        style
            include ./style.css
    body
        div.heading
            h1= 'David Tomusk'
        div.sub
            h2= 'Projects'
        div.content_section
            ul
                each record in records
                    li
                        a(href='#')
                            div.content
                                img.img(src='/dorime.jpg')
                                h3= record.Name
                                p= record.Description
        div.footer
